@font-face {
	font-family: 'Objective';
	src: url('../fonts/Objective-Bold.eot');
	src: local('☺'), url('../fonts/Objective-Bold.woff') format('woff'), url('../fonts/Objective-Bold.ttf') format('truetype'), url('../fonts/Objective-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Objective';
	src: url('../fonts/Objective-Medium.eot');
	src: local('☺'), url('../fonts/Objective-Medium.woff') format('woff'), url('../fonts/Objective-Medium.ttf') format('truetype'), url('../fonts/Objective-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Objective';
	src: url('../fonts/Objective-Regular.eot');
	src: local('☺'), url('../fonts/Objective-Regular.woff') format('woff'), url('../fonts/Objective-Regular.ttf') format('truetype'), url('../fonts/Objective-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}