@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.slides input[name=r] {
  position: absolute;
  visibility: hidden;
}
.slides__item {
  width: 25%;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.slides__item .slides__title {
  position: fixed;
  top: 50%;
  display: block;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 7px black;
}
.slides__item .slides__desc {
  position: fixed;
  font-size: 16px;
  top: 50%;
  padding: 0 10vw;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px black;
}
.slides__item img {
  width: 100%;
  height: 100%;
}

.navigation {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation__bar {
  height: 15px;
  width: 15px;
  margin: 3px;
  cursor: pointer;
  background: #ddd;
  opacity: 0.6;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.navigation__bar:hover {
  opacity: 0.9;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.controls {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
}

#slide1:checked ~ .controls label:nth-child(3),
#slide2:checked ~ .controls label:nth-child(1),
#slide3:checked ~ .controls label:nth-child(2) {
  cursor: pointer;
  display: block;
  height: 30px;
  width: 30px;
  border-top: 7px solid #ddd;
  border-left: 7px solid #ddd;
  -webkit-box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.418);
          box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.418);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  float: left;
  margin-top: 45vh;
  margin-left: 10%;
}

#slide1:checked ~ .controls label:nth-child(2),
#slide2:checked ~ .controls label:nth-child(3),
#slide3:checked ~ .controls label:nth-child(1) {
  cursor: pointer;
  border-top: 7px solid #ddd;
  border-right: 7px solid #ddd;
  -webkit-box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.418);
          box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.418);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  float: right;
  display: block;
  height: 30px;
  width: 30px;
  margin-top: 45vh;
  margin-right: 10%;
}

#slide1:checked ~ .s1 {
  margin-left: 0;
}

#slide2:checked ~ .s1 {
  margin-left: -25%;
}

#slide3:checked ~ .s1 {
  margin-left: -50%;
}